# Assignment 1

Name : Ghanashyam Patil  
Roll No : 31162  
Subject : DSBDAL

Problem Statement :  
Perform the following operations using Python on any open-source dataset (e.g., data.csv) 
1. Import all the required Python Libraries.
2. Load the Dataset into pandas’ data frame.
3. Data Preprocessing: check for missing values in the data using pandas isnull (), describe(),head(),tail(), info(),function to get some initial statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of the data frame.
4. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions.

In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [8]:
df = pd.read_csv("../Databases/melb_data.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [9]:
df.shape

(13580, 21)

In [10]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [11]:
#CHECKING FOR NULL VALUES AND THEIR COUNT
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [12]:
#GETTING INFORMATION ABOUT THE DATAFRAME
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

# This is simple Type Conversion
for type conversion column should not contain null values

In [13]:
#TYPE CONVERSION
df['Price']=df['Price'].astype('int64')
df['Price'].dtype

dtype('int64')

# This is type conversion from a categorical values to quantitative values

# 1. Using Label Encoding

In [14]:
df['Suburb'].unique()

array(['Abbotsford', 'Airport West', 'Albert Park', 'Alphington',
       'Altona', 'Altona North', 'Armadale', 'Ascot Vale', 'Ashburton',
       'Ashwood', 'Avondale Heights', 'Balaclava', 'Balwyn',
       'Balwyn North', 'Bentleigh', 'Bentleigh East', 'Box Hill',
       'Braybrook', 'Brighton', 'Brighton East', 'Brunswick',
       'Brunswick West', 'Bulleen', 'Burwood', 'Camberwell', 'Canterbury',
       'Carlton North', 'Carnegie', 'Caulfield', 'Caulfield North',
       'Caulfield South', 'Chadstone', 'Clifton Hill', 'Coburg',
       'Coburg North', 'Collingwood', 'Doncaster', 'Eaglemont',
       'Elsternwick', 'Elwood', 'Essendon', 'Essendon North', 'Fairfield',
       'Fitzroy', 'Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris',
       'Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton', 'Hampton East',
       'Hawthorn', 'Heidelberg Heights', 'Heidelberg West', 'Hughesdale',
       'Ivanhoe', 'Kealba', 'Keilor East', 'Kensington', 'Kew',
       'Kew East', 'Kooyong', 'Maidstone', 'Malvern', 'Malvern East',
       'Maribyrnong', 'Melbourne', 'Middle Park', 'Mont Albert',
       'Moonee Ponds', 'Moorabbin', 'Newport', 'Niddrie',
       'North Melbourne', 'Northcote', 'Oak Park', 'Oakleigh South',
       'Parkville', 'Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston',
       'Reservoir', 'Richmond', 'Rosanna', 'Seddon', 'South Melbourne',
       'South Yarra', 'Southbank', 'Spotswood', 'St Kilda', 'Strathmore',
       'Sunshine', 'Sunshine North', 'Sunshine West', 'Surrey Hills',
       'Templestowe Lower', 'Thornbury', 'Toorak', 'Viewbank', 'Watsonia',
       'West Melbourne', 'Williamstown', 'Williamstown North', 'Windsor',
       'Yallambie', 'Yarraville', 'Aberfeldie', 'Bellfield',
       'Brunswick East', 'Burnley', 'Campbellfield', 'Carlton',
       'East Melbourne', 'Essendon West', 'Fawkner', 'Hawthorn East',
       'Heidelberg', 'Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville',
       'Murrumbeena', 'Ormond', 'West Footscray', 'Albion', 'Brooklyn',
       'Glen Huntly', 'Oakleigh', 'Ripponlea', 'Cremorne', 'Docklands',
       'South Kingsville', 'Strathmore Heights', 'Travancore',
       'Caulfield East', 'Seaholme', 'Keilor Park', 'Gardenvale',
       'Princes Hill', 'Bayswater', 'Bayswater North', 'Beaumaris',
       'Berwick', 'Boronia', 'Briar Hill', 'Broadmeadows', 'Bundoora',
       'Burnside Heights', 'Burwood East', 'Cairnlea', 'Caroline Springs',
       'Cheltenham', 'Craigieburn', 'Cranbourne', 'Croydon', 'Dandenong',
       'Dandenong North', 'Diamond Creek', 'Dingley Village',
       'Doncaster East', 'Donvale', 'Doreen', 'Eltham', 'Epping',
       'Forest Hill', 'Frankston', 'Frankston North', 'Frankston South',
       'Gisborne', 'Gladstone Park', 'Greensborough', 'Hallam',
       'Healesville', 'Highett', 'Hillside', 'Huntingdale',
       'Keilor Downs', 'Keilor Lodge', 'Keysborough', 'Kings Park',
       'Lalor', 'Lower Plenty', 'Melton', 'Mernda', 'Mill Park',
       'Mitcham', 'Montmorency', 'Mordialloc', 'Mount Waverley',
       'Narre Warren', 'Nunawading', 'Oakleigh East', 'Parkdale',
       'Point Cook', 'Ringwood East', 'Rockbank', 'Rowville',
       'Sandringham', 'Seaford', 'Skye', 'South Morang', 'Springvale',
       'St Albans', 'Sunbury', 'Tarneit', 'Taylors Hill', 'Taylors Lakes',
       'The Basin', 'Thomastown', 'Truganina', 'Tullamarine', 'Vermont',
       'Wantirna', 'Wantirna South', 'Werribee', 'Westmeadows',
       'Williams Landing', 'Wollert', 'Wyndham Vale', 'Black Rock',
       'Blackburn', 'Blackburn North', 'Bonbeach', 'Carrum', 'Chelsea',
       'Clayton', 'Doveton', 'Ferntree Gully', 'Glen Waverley',
       'Greenvale', 'Heathmont', 'Hoppers Crossing', 'McKinnon',
       'Melton South', 'Melton West', 'Mentone', 'Mooroolbark',
       'Mulgrave', 'Ringwood', 'Roxburgh Park', 'Seabrook', 'Templestowe',
       'Vermont South', 'Warrandyte', 'Watsonia North', 'Wheelers Hill',
       'Altona Meadows', 'Blackburn South', 'Carrum Downs',
       'Clayton South', 'Croydon North', 'Langwarrin', 'Noble Park',
       'Notting Hill', 'Ringwood North', 'Sydenham', 'Albanvale',
       'Beaconsfield Upper', 'Chelsea Heights', 'Dallas', 'Deer Park',
       'Eltham North', 'Keilor', 'Meadow Heights', 'Mount Evelyn',
       'North Warrandyte', 'Pakenham', 'Riddells Creek', 'Sandhurst',
       'Scoresby', 'Silvan', 'Aspendale', 'Chirnside Park',
       'Croydon Hills', 'Croydon South', 'Derrimut', 'Diggers Rest',
       'Edithvale', 'Hampton Park', 'Knoxfield', 'St Helena', 'Upwey',
       'Bacchus Marsh', 'Coolaroo', 'Cranbourne North', 'Kilsyth',
       'Montrose', 'Aspendale Gardens', 'Bullengarook', 'Clarinda',
       'Deepdene', 'Delahey', 'Hurstbridge', 'Kurunjang', 'Wonga Park',
       'Endeavour Hills', 'Officer', 'Waterways', 'Ardeer',
       'Beaconsfield', 'Springvale South', 'Yarra Glen', 'Brookfield',
       'Emerald', 'Whittlesea', 'Burnside', 'Attwood', 'Wallan',
       'New Gisborne', 'Plumpton', 'Monbulk'], dtype=object)

In [19]:
# fitting the unique values in label encoder
le=LabelEncoder()
le.fit(['Abbotsford', 'Airport West', 'Albert Park', 'Alphington',
       'Altona', 'Altona North', 'Armadale', 'Ascot Vale', 'Ashburton',
       'Ashwood', 'Avondale Heights', 'Balaclava', 'Balwyn',
       'Balwyn North', 'Bentleigh', 'Bentleigh East', 'Box Hill',
       'Braybrook', 'Brighton', 'Brighton East', 'Brunswick',
       'Brunswick West', 'Bulleen', 'Burwood', 'Camberwell', 'Canterbury',
       'Carlton North', 'Carnegie', 'Caulfield', 'Caulfield North',
       'Caulfield South', 'Chadstone', 'Clifton Hill', 'Coburg',
       'Coburg North', 'Collingwood', 'Doncaster', 'Eaglemont',
       'Elsternwick', 'Elwood', 'Essendon', 'Essendon North', 'Fairfield',
       'Fitzroy', 'Fitzroy North', 'Flemington', 'Footscray', 'Glen Iris',
       'Glenroy', 'Gowanbrae', 'Hadfield', 'Hampton', 'Hampton East',
       'Hawthorn', 'Heidelberg Heights', 'Heidelberg West', 'Hughesdale',
       'Ivanhoe', 'Kealba', 'Keilor East', 'Kensington', 'Kew',
       'Kew East', 'Kooyong', 'Maidstone', 'Malvern', 'Malvern East',
       'Maribyrnong', 'Melbourne', 'Middle Park', 'Mont Albert',
       'Moonee Ponds', 'Moorabbin', 'Newport', 'Niddrie',
       'North Melbourne', 'Northcote', 'Oak Park', 'Oakleigh South',
       'Parkville', 'Pascoe Vale', 'Port Melbourne', 'Prahran', 'Preston',
       'Reservoir', 'Richmond', 'Rosanna', 'Seddon', 'South Melbourne',
       'South Yarra', 'Southbank', 'Spotswood', 'St Kilda', 'Strathmore',
       'Sunshine', 'Sunshine North', 'Sunshine West', 'Surrey Hills',
       'Templestowe Lower', 'Thornbury', 'Toorak', 'Viewbank', 'Watsonia',
       'West Melbourne', 'Williamstown', 'Williamstown North', 'Windsor',
       'Yallambie', 'Yarraville', 'Aberfeldie', 'Bellfield',
       'Brunswick East', 'Burnley', 'Campbellfield', 'Carlton',
       'East Melbourne', 'Essendon West', 'Fawkner', 'Hawthorn East',
       'Heidelberg', 'Ivanhoe East', 'Jacana', 'Kingsbury', 'Kingsville',
       'Murrumbeena', 'Ormond', 'West Footscray', 'Albion', 'Brooklyn',
       'Glen Huntly', 'Oakleigh', 'Ripponlea', 'Cremorne', 'Docklands',
       'South Kingsville', 'Strathmore Heights', 'Travancore',
       'Caulfield East', 'Seaholme', 'Keilor Park', 'Gardenvale',
       'Princes Hill', 'Bayswater', 'Bayswater North', 'Beaumaris',
       'Berwick', 'Boronia', 'Briar Hill', 'Broadmeadows', 'Bundoora',
       'Burnside Heights', 'Burwood East', 'Cairnlea', 'Caroline Springs',
       'Cheltenham', 'Craigieburn', 'Cranbourne', 'Croydon', 'Dandenong',
       'Dandenong North', 'Diamond Creek', 'Dingley Village',
       'Doncaster East', 'Donvale', 'Doreen', 'Eltham', 'Epping',
       'Forest Hill', 'Frankston', 'Frankston North', 'Frankston South',
       'Gisborne', 'Gladstone Park', 'Greensborough', 'Hallam',
       'Healesville', 'Highett', 'Hillside', 'Huntingdale',
       'Keilor Downs', 'Keilor Lodge', 'Keysborough', 'Kings Park',
       'Lalor', 'Lower Plenty', 'Melton', 'Mernda', 'Mill Park',
       'Mitcham', 'Montmorency', 'Mordialloc', 'Mount Waverley',
       'Narre Warren', 'Nunawading', 'Oakleigh East', 'Parkdale',
       'Point Cook', 'Ringwood East', 'Rockbank', 'Rowville',
       'Sandringham', 'Seaford', 'Skye', 'South Morang', 'Springvale',
       'St Albans', 'Sunbury', 'Tarneit', 'Taylors Hill', 'Taylors Lakes',
       'The Basin', 'Thomastown', 'Truganina', 'Tullamarine', 'Vermont',
       'Wantirna', 'Wantirna South', 'Werribee', 'Westmeadows',
       'Williams Landing', 'Wollert', 'Wyndham Vale', 'Black Rock',
       'Blackburn', 'Blackburn North', 'Bonbeach', 'Carrum', 'Chelsea',
       'Clayton', 'Doveton', 'Ferntree Gully', 'Glen Waverley',
       'Greenvale', 'Heathmont', 'Hoppers Crossing', 'McKinnon',
       'Melton South', 'Melton West', 'Mentone', 'Mooroolbark',
       'Mulgrave', 'Ringwood', 'Roxburgh Park', 'Seabrook', 'Templestowe',
       'Vermont South', 'Warrandyte', 'Watsonia North', 'Wheelers Hill',
       'Altona Meadows', 'Blackburn South', 'Carrum Downs',
       'Clayton South', 'Croydon North', 'Langwarrin', 'Noble Park',
       'Notting Hill', 'Ringwood North', 'Sydenham', 'Albanvale',
       'Beaconsfield Upper', 'Chelsea Heights', 'Dallas', 'Deer Park',
       'Eltham North', 'Keilor', 'Meadow Heights', 'Mount Evelyn',
       'North Warrandyte', 'Pakenham', 'Riddells Creek', 'Sandhurst',
       'Scoresby', 'Silvan', 'Aspendale', 'Chirnside Park',
       'Croydon Hills', 'Croydon South', 'Derrimut', 'Diggers Rest',
       'Edithvale', 'Hampton Park', 'Knoxfield', 'St Helena', 'Upwey',
       'Bacchus Marsh', 'Coolaroo', 'Cranbourne North', 'Kilsyth',
       'Montrose', 'Aspendale Gardens', 'Bullengarook', 'Clarinda',
       'Deepdene', 'Delahey', 'Hurstbridge', 'Kurunjang', 'Wonga Park',
       'Endeavour Hills', 'Officer', 'Waterways', 'Ardeer',
       'Beaconsfield', 'Springvale South', 'Yarra Glen', 'Brookfield',
       'Emerald', 'Whittlesea', 'Burnside', 'Attwood', 'Wallan',
       'New Gisborne', 'Plumpton', 'Monbulk'])

LabelEncoder()

In [21]:
trgt_col=df['Suburb']
df['Suburb']=le.transform(trgt_col)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,0,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,0,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,0,40 Federation La,3,h,850000,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,0,55a Park St,4,h,1600000,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,302,12 Strada Cr,4,h,1245000,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,305,77 Merrett Dr,3,h,1031000,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,305,83 Power St,3,h,1170000,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,305,96 Verdon St,4,h,2500000,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,313,6 Agnes St,4,h,1285000,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

# Using get dummies

In [15]:
#here we are creating the new df to work on(we can also do this operation on same df)
df1=pd.get_dummies(df['Type'])
df2=pd.concat([df,df1],axis=1)
df2

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,h,t,u
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,3067.0,...,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,True,False,False
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,3067.0,...,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,True,False,False
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,3067.0,...,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,True,False,False
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,4/03/2017,2.5,3067.0,...,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,True,False,False
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/06/2016,2.5,3067.0,...,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26/08/2017,16.7,3150.0,...,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,True,False,False
13576,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26/08/2017,6.8,3016.0,...,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,True,False,False
13577,Williamstown,83 Power St,3,h,1170000,S,Raine,26/08/2017,6.8,3016.0,...,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,True,False,False
13578,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26/08/2017,6.8,3016.0,...,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,True,False,False
13579,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26/08/2017,6.3,3013.0,...,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,True,False,False

In [16]:
# TO remove the 'Type' column we use drop property
# here we have dropped the column to remove the redundancy
df2.drop(columns=['Type'])

,Suburb,Address,Rooms,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,h,t,u
0,Abbotsford,85 Turner St,2,1480000,S,Biggin,3/12/2016,2.5,3067.0,2.0,...,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,True,False,False
1,Abbotsford,25 Bloomburg St,2,1035000,S,Biggin,4/02/2016,2.5,3067.0,2.0,...,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,True,False,False
2,Abbotsford,5 Charles St,3,1465000,SP,Biggin,4/03/2017,2.5,3067.0,3.0,...,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,True,False,False
3,Abbotsford,40 Federation La,3,850000,PI,Biggin,4/03/2017,2.5,3067.0,3.0,...,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,True,False,False
4,Abbotsford,55a Park St,4,1600000,VB,Nelson,4/06/2016,2.5,3067.0,3.0,...,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,1245000,S,Barry,26/08/2017,16.7,3150.0,4.0,...,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,True,False,False
13576,Williamstown,77 Merrett Dr,3,1031000,SP,Williams,26/08/2017,6.8,3016.0,3.0,...,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,True,False,False
13577,Williamstown,83 Power St,3,1170000,S,Raine,26/08/2017,6.8,3016.0,3.0,...,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,True,False,False
13578,Williamstown,96 Verdon St,4,2500000,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,...,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,True,False,False
13579,Yarraville,6 Agnes St,4,1285000,SP,Village,26/08/2017,6.3,3013.0,4.0,...,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,True,False,False

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  int64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
 21  h              13580 non-null  bool
 22  t              13580 non-null  bool
 23  u              13580 non-null  bool
dtypes: bool(3), float64(11), int64(2), object(8)
memory usage: 2.2+ MB

In [18]:
# TYPE CONVERSION
# HERE WE CONVERTING THE BOOL VALUE TO INT
df2['h']=df2['h'].astype('int64')
df2['t']=df2['t'].astype('int64')
df2['u']=df2['u'].astype('int64')
df2

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,h,t,u
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,3067.0,...,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,1,0,0
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,3067.0,...,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,1,0,0
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,3067.0,...,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,1,0,0
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,4/03/2017,2.5,3067.0,...,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,1,0,0
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/06/2016,2.5,3067.0,...,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26/08/2017,16.7,3150.0,...,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,1,0,0
13576,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26/08/2017,6.8,3016.0,...,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,1,0,0
13577,Williamstown,83 Power St,3,h,1170000,S,Raine,26/08/2017,6.8,3016.0,...,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,1,0,0
13578,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26/08/2017,6.8,3016.0,...,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,1,0,0
13579,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26/08/2017,6.3,3013.0,...,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,1,0,0